@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Lexend Deca';
  background-color: #f2f2f2;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
}

@media (min-width: 980px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.card {
  width: 305px;
  padding: 40px;
}

.card.orange {
  background-color: #e38826;
}

.card.orange .card-footer .btn {
  color: #e38826;
}

.card.cyan {
  background-color: #006970;
}

.card.cyan .card-footer .btn {
  color: #006970;
}

.card.dark-cyan {
  background-color: #004241;
}

.card.dark-cyan .card-footer .btn {
  color: #004241;
}

.card .card-header h1 {
  margin: 40px 0;
  font-size: 40px;
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  text-transform: uppercase;
  color: #f2f2f2;
}

.card .card-body p {
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.75);
}

.card .card-footer .btn {
  margin-top: 80px;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  background-color: #f2f2f2;
  font-size: 18px;
  font-family: inherit;
}

.card .card-footer .btn:active {
  outline: 2px solid #f2f2f2;
  background-color: transparent;
  color: #f2f2f2;
}
